<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "../../../dtd/mapper.dtd">

<mapper namespace="test/mapper@UserMapper">

    <cache blocking="123">
    </cache>

    <!--    <select id="">-->
    <!--        select a from users left jion shops on qlllsdfdsf-->
    <!--        <where>-->
    <!--            <if test="" >-->
    <!--                asd-->
    <!--            </if>-->
    <!--        </where>.-->
    <!--    </select>-->

    <select id="SelectTestById" parameterType="id:int, name:string, age:int" resultType="int64">
        select * from test
        <where>
            <if test="id>0">
                id = #{id}
            </if>
            <if test='name!=""'>
                and name = '#{name}'
            </if>
            <if test='age != 0'>
                and age = #{age+10}
            </if>
        </where>
    </select>

    <select id="SelectTestByName" parameterType="id:int, name:string, age:int" resultType="int64">
        select * from test
        <choose>
            <when test="id>0">
                id = #{id}
            </when>
            <when test="name != ''">
                name = '{#name}'
            </when>
            <otherwise>
                age = #{age}
            </otherwise>
        </choose>
    </select>

    <select id="SelectTestForeach" parameterType="names" resultType="int64">
        select * from test
        <where>
            name in
            <foreach item="item" collection="names" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </select>

    <!--    <select id="GetUser" parameterType="auto" resultType="test/entity@User">-->
    <!--        select * from users-->
    <!--        <where>-->
    <!--            <if test="Id != nil">-->
    <!--                id = #{Id}-->
    <!--            </if>-->
    <!--            <if test="Name != nil">-->
    <!--                name = #{Name}-->
    <!--            </if>-->
    <!--        </where>-->
    <!--    </select>-->
    <!--    <select id="selectUsers" parameterType="id:int64,name:string" resultMap="Blog[]">-->
    <!--        select * from blog-->
    <!--    </select>-->

    <!--    <select id="countUsers" parameterType="id:int64,name:string" resultType="int,int,string">-->
    <!--        select * from users where id=#{id} and name=#{name}-->
    <!--    </select>-->
</mapper>