<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test/mapper@UserMapper">

    <select id="GetUser" parameterType="int64" resultType="test/entity@User">
        select * from users where id = #{id}
    </select>

<!--    <select id="selectUsers" parameterType="id:int64,name:string" resultMap="Blog[]">-->
<!--        select * from blog-->
<!--    </select>-->

<!--    <select id="countUsers" parameterType="id:int64,name:string" resultType="int,int,string">-->
<!--        select * from users where id=#{id} and name=#{name}-->
<!--    </select>-->


</mapper>