
$codeBgColor = #f8f8f8;

.sidebar {
  width: 21rem !important;
}

.theme-default-content:not(.custom) {
  //max-width: 98%;
}

.page-nav {
  //max-width: 98% !important;
}

.theme-default-content{
  @import "~prismjs/themes/prism-tomorrow.css"
}